* {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}

body {
    background-color: gray;
}

#container {
    width: 352px;
    height: 450px;
    margin: 150px auto 0vh auto;
    background-color: aqua;
    border-radius: 7px;
}

#display {
    width: 100%;
    height: 120px;
    background-image: linear-gradient( to right top,#cb4988, #eeac2c);
    border-radius: 7px 7px 0 0 ;
}

#keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
    border: none;
    outline: none;
    width: 88px;
    height: 67px;

    background-color: #f4f4f4;
    font-size: 1.3em;
    cursor: pointer;
}

.number {
    background-color: #f4f4f4;
} 
.number:hover {
    background-color: rgb(238, 238, 238);
}

.operation {
    background-color: #eaeaea;
}
.operation:hover {
   background-color:  #e1e1e1;
}

.AC {
    color: red;
}

.equals {
    background-image: linear-gradient( to right top,#cb4988, #eeac2c);
}
.equals:hover {
    background-image: linear-gradient( to right top,#d85092, #fcb830);
}

#right-edge{
    border-radius: 0 0 7px 0;
}

#left-edge{
    border-radius: 0 0 0 7px;
}